<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="stylesheet" href="{{ '/stylesheets/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/stylesheets/pygment_trac.css' | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p>Professional background & experience</p>
        <p class="view">
          <a href="https://github.com/manuel-arrabal">
            View on GitHub <small>manuel-arrabal.github.io</small>
          </a>
        </p>
      </header>

      <section style="width: 600px;">
        {{ content }}
      </section>

      <footer>
        <p>
          This project is maintained by
          <a href="https://github.com/manuel-arrabal">Manuel Arrabal</a>
        </p>
        <p>
          <small>
            Hosted on GitHub Pages &mdash; Theme by
            <a href="https://github.com/orderedlist">orderedlist</a>
          </small>
        </p>
      </footer>
    </div>

    <script src="{{ '/javascripts/scale.fix.js' | relative_url }}"></script>
  </body>
</html>

